SPRING_DATASOURCE_URL=jdbc:postgresql://student-db:5432/studentdb
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=mysecretpassword
SERVER_PORT=8080
POSTGRES_DB=studentdb
POSTGRES_USER=postgres
POSTGRES_PASSWORD=mysecretpassword
